@model IEnumerable<ImpressDev.Models.Category>

<div class="container o-category-border">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-6 col-xl-3">
                <a class="o-category-link" href="@Url.Action("Index", "Catalog", new { categoryName = category.Name.ToLower() })">&raquo; @category.Name</a>
            </div>
        }
    </div>
</div>