
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* -- My Style -- */

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.o-login-bar {
    background-color: black;
    text-align: right;
    padding: 4px 0px;
}

    .o-login-bar .navbar-nav {
        flex-direction: row;
        float: right;
    }

        .o-login-bar .navbar-nav li {
            padding-left: 15px;
        }

        .o-login-bar .navbar-nav a {
            color: #9d9d9d;
            font-size: 16px;
        }

            .o-login-bar .navbar-nav a:hover {
                color: #9d9d9d;
            }

@media (max-width: 991px) {
    .o-login-bar .navbar-nav a {
        font-size: 14px;
    }
}

.o-navbar {
    background-color: #233040;
}

.o-logo {
    height: 70px;
}

.o-menu-item {
    color: white;
    text-decoration: none;
    transition: all .5s;
}

    .o-menu-item:hover {
        color: #ffc301;
    }

.o-menu-item-social {
    color: #ffc301;
    transition: all .5s;
}

    .o-menu-item-social:hover {
        color: #ffc301;
        text-decoration: overline;
    }

.o-baner {
    background-color: #ffc301;
    background-image: url(Images/map.png);
    background-size: cover;
    background-position: left;
}

.o-baner-text-1 {
    font-size: 30px;
    color: #233040;
    margin-top: 150px;
}

.o-baner-text-2 {
    font-size: 90px;
    color: white;
    margin-bottom: 150px;
}

.o-baner-text-3 {
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .o-baner-text-1 {
        font-size: 22px;
        margin-top: 80px;
    }

    .o-baner-text-2 {
        font-size: 50px;
        margin-bottom: 80px;
    }

    .o-baner-text-3 {
        font-size: 16px;
    }

    .o-logo {
        height: 45px;
    }
}

.o-baner-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0 5px 0 5px;
    transition: all 0.8s;
}

    .o-baner-button:hover {
        border: 1px solid #233040;
        color: white;
        cursor: pointer;
    }

.o-baner-img {
    max-width: 75%;
    margin-top: 30px
}

.o-category-home {
    background-color: #233040;
    padding: 20px 0 0 0;
    font-size: 18px;
    text-align: center;
}

.o-category-link {
    color: gray;
}

    .o-category-link:hover {
        color: gray;
    }



.o-category-border {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.o-best {
    background-color: #233040;
    padding: 50px 0 50px 0;
    text-align: center;
}

.o-best-heading {
    font-size: 60px;
    color: #ffc301;
    margin-bottom: 30px;
}

.o-news {
    background-color: white;
    padding: 50px 0 50px 0;
    text-align: center;
}

.o-news-heading {
    font-size: 60px;
    color: #ffc301;
    margin-bottom: 30px;
}

.o-shop-item {
    background-color: #ededed;
    margin: 10px;
    text-decoration: none;
}

    .o-shop-item:hover {
        text-decoration: none;
    }

.o-shop-link {
    color: black;
}

    .o-shop-link:hover {
        text-decoration: none;
        color: black;
    }

.o-shop-img {
    width: 100%;
}

.o-shop-text {
    padding: 10px 0 15px 0;
}

.o-shop-button {
    font-weight: 300;
    padding: 0 5px 0 5px;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    transition: all 0.5s;
}

    .o-shop-button:hover {
        color: #ffc301;
        border: 1px solid #ffc301;
        text-decoration: none;
    }

.o-home-catalog {
    margin-top: 40px;
}

.o-catalog-button {
    background-color: transparent;
    padding: 5px 88px 5px 88px;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    transition: all 0.5s;
}

    .o-catalog-button:hover {
        color: #ffc301;
        border: 1px solid #ffc301;
        text-decoration: none;
    }

.o-fotter {
    background-color: #233040;
    text-align: center;
}

.o-fotter-img {
    height: 100px;
    margin: 30px 0 30px 0;
}

.o-fotter-link {
    color: white;
}

    .o-fotter-link:hover {
        color: white;
    }

.o-fotter-copy {
    color: white;
    margin: 30px 0 10px 0;
}

.o-page {
    padding: 20px 0 50px 0;
}


.o-category-nav {
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 991px) {
    .o-category-nav {
        margin-top: 0px;
    }
}

.o-category-item {
    color: #233040;
    transition: all 0.5s;
}

    .o-category-item:hover {
        color: #ffc301;
        text-decoration: none;
    }

@media (max-width: 991px) {
    .o-category-item {
        font-size: 14px;
    }
}

.o-category-block {
    display: inline;
    padding: 15px;
}

@media (min-width: 1200px) {
    .o-category-block {
        display: block;
        border-right: 1px solid grey;
    }
}

.o-category-mobile {
    padding: 20px 0 0 0;
    font-size: 18px;
    text-align: center;
}

.o-nav-track {
    text-align: left;
    margin: 10px 0px 20px 0px;
}

@media (max-width: 991px) {
    .o-nav-track {
        font-size: 14px;
    }
}

.o-search-form {
    width: 60%;
    margin: 24px 0px 0 10px;
    float: right;
    padding: 4px;
    border: 1px solid #e0e0e0;
}

.o-search-input {
    border: none;
    width: 90%;
    padding-left: 5px;
}

    .o-search-input:focus {
        outline: none;
    }

.o-search-submit {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    border: none;
    background-size: 100% 100%;
    background: transparent url(Images/search-icon.png) no-repeat;
}

    .o-search-submit:focus {
        outline: none;
    }

@media (max-width: 1199px) {
    .o-search-form {
        width: 80%;
        margin: 0 10px 0 10px;
    }
}

@media (max-width: 400px) {
    .o-search-form {
        width: 93%;
    }

    .o-search-input {
        width: 90%;
    }
}

.ui-menu-item {
    font-weight: 300;
}

.o-page-title {
    font-size: 50px;
    color: #ffc301;
    text-align: left;
    margin: 0 0 20px 0;
}

@media (max-width: 1199px) {
    .o-page-title {
        font-size: 30px;
        margin: 20px 0 20px 0;
    }
}

.o-page-catalog-title {
    font-size: 40px;
    color: #ffc301;
    text-align: left;
    margin: 0 0 20px 0;
}

@media (max-width: 1199px) {
    .o-page-catalog-title {
        font-size: 21px;
        margin: 20px 0 20px 0;
    }
}

.o-details-img {
    width: 100%;
}

.o-details-text {
    text-align: left;
}

.o-details-button {
    font-size: 20px;
    font-weight: 300;
    padding: 5px 15px 5px 15px;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    transition: all 0.5s;
}

    .o-details-button:hover {
        color: #ffc301;
        border: 1px solid #ffc301;
        text-decoration: none;
    }

.o-details-desc {
    padding: 0 0 40px 15px;
    text-align: left;
    font-weight: 300;
    margin-top: 20px;
}

.o-details-desc-bold {
    font-weight: 600;
}

.o-page-heading {
    font-size: 60px;
    color: #ffc301;
    padding-bottom: 30px;
    text-align: center;
}

.o-cart-item {
    background-color: #f2f2f2;
    margin: 20px 0 20px 0;
}

.o-cart-div-img {
    padding: 0px;
}

.o-cart-img {
    width: 100%;
}

.o-cart-book-link {
    color: black;
}

.o-cart-book-link:hover {
    color: black;
    text-decoration: none;
}

.o-cart-text {
    padding: 10px 0 10px 0;
    font-size: 20px;
}

.o-cart-details {
    font-size: 16px;
    font-weight: 300;
}

.o-cart-quantity {
    font-size: 16px;
    padding: 10px;
}

.o-cart-del {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    padding: 4px 20px 4px 20px;
    background-color: transparent;
    border: 1px solid black;
    transition: all 0.5s;
    color: black;
}

.o-cart-total-price {
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.o-cart-pay-div {
    text-align: center;
    padding-bottom: 40px;
}

.o-cart-pay {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    padding: 4px 32px 4px 32px;
    background-color: transparent;
    border: 1px solid black;
    transition: all 0.5s;
    color: black;
}

    .o-cart-pay:hover {
        color: #ffc301;
        border: 1px solid #ffc301;
        text-decoration: none;
    }

.o-cart-empty {
    font-size: 20px;
    text-align: center;
    padding: 50px 0 80px 0;
}

@media (max-width: 991px) {
    .o-page-heading {
        font-size: 40px;
        line-height: 110%;
    }

    .o-cart-item {
        padding: 10px;
    }

    .o-cart-div-img {
        text-align: center;
        max-width: 160px;
        margin: auto;
    }

    .o-cart-text {
        font-size: 16px;
        text-align: center;
    }

    .o-cart-details {
        text-align: center;
        font-size: 14px;
    }

    .o-cart-quantity {
        font-size: 14px;
        text-align: center;
    }

    .o-cart-del-div {
        text-align: center;
    }

    .o-cart-del {
        margin: auto;
        padding: 2px 5px 2px 5px;
        font-size: 14px;
        transition: all 0.5s;
        width: 90px;
    }

    .o-cart-pay {
        font-size: 14px;
    }

    .o-cart-empty {
        font-size: 16px;
    }

    .o-cart-total-price {
        font-size: 14px;
    }

    .o-cart-book-link {
        font-size: 14px;
    }
}

.o-form-table {
    margin-left: auto;
    margin-right: auto;
}

    .o-form-table input[type=text] {
        width: 280px;
    }

    .o-form-table input[type=password] {
        width: 280px;
    }

    .o-form-table label {
        margin-top: 7px;
    }

.o-form-btn-div {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
}

.o-form-btn {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    padding: 4px 32px 4px 32px;
    background-color: transparent;
    border: 1px solid black;
    transition: all 0.5s;
    color: black;
}

    .o-form-btn:hover {
        color: #ffc301;
        border: 1px solid #ffc301;
        text-decoration: none;
    }

@media (max-width: 991px) {
    .o-form-table {
        font-size: 14px;
    }

        .o-form-table input[type=text] {
            width: 240px;
        }

        .o-form-table input[type=password] {
            width: 240px;
        }

    .o-form-btn {
        font-size: 14px;
    }

    .o-login-register-btn {
        font-size: 14px;
    }
}

.validation-summary-errors {
    color: red;
    text-align: center;
}

.o-pass-validation-msg {
    color: red;
    text-align: center;
}

.validation-summary-errors li {
    list-style-type: none;
}

.validation-summary-errors ul {
    padding-inline-start: 0px;
}

.o-pass-validation-msg-2 .field-validation-error {
    font-weight: 300;
    color: red;
}

.o-checkout-table .field-validation-error {
    font-weight: 300;
    color: red;
}

.o-form-validation-msg {
    font-weight: 300;
    color: red;
    padding-left: 1px;
}

.manage-message {
    text-align: center;
    color: green;
    font-size: 16px;
}

@media (max-width: 991px) {
    .validation-summary-errors {
        font-size: 14px;
    }

    .field-validation-error {
        font-size: 14px;
    }

    .manage-message {
        font-size: 14px;
    }
}

.o-manage-heading {
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 991px) {
    .o-manage-heading {
        font-size: 25px;
    }
}

.o-manage-bar-btn-div {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
}

.o-manage-bar-btn {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    padding: 4px 32px 4px 32px;
    background-color: transparent;
    border: 1px solid black;
    transition: all 0.5s;
    color: black;
}

    .o-manage-bar-btn:hover {
        color: #ffc301;
        border: 1px solid #ffc301;
        text-decoration: none;
    }

@media (max-width: 991px) {
    .o-manage-bar-btn {
        font-size: 14px;
        padding: 4px 10px 4px 10px;
    }
}

.o-order-group {
    border: 0px solid black;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.o-order-text-bold {
    font-weight: 600;
}

.o-order-text-light {
    font-weight: 300;
}

.o-order-item-div {
    padding: 15px;
}

.o-order-item {
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 5px;
}

.o-order-book-link {
    color: black;
}

.o-order-book-link:hover {
    color: black;
    text-decoration: none;
}

.o-order-empty {
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 991px) {
    .o-order-group {
        font-size: 14px;
    }

    .o-order-br {
        display: none;
    }

    .o-order-empty {
        font-size: 17px;
    }
}

.hidden {
    display: none;
}

.o-center {
    text-align: center;
}
