
@{
    ViewBag.Title = "Potwierdzenie zamówienia";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 o-confirm-page-row">
            <span class="o-confirm-page-bold">Gratulujemy! Twoje zamówienie zostało złożone.</span> <br />
            <span class="o-confirm-page-bold">Realizacja zamówienia zostanie rozpoczęta, po zaksięgowaniu należności.</span>
        </div>
        <div class="col-12 o-confirm-page-row">
            <span class="o-confirm-page-bold">Dane do przelewu:</span> <br />
            <span class="o-confirm-page-light">ImpressDev Bank</span> <br />
            <span class="o-confirm-page-light">00 0000 0000 0000 0000 0000 0000</span> <br />
            <span class="o-confirm-page-light"><i>(sklep testowy - prosimy nie wykonywać przelewu)</i></span>
        </div>
    </div>
</div>

